{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block stylesheets %}
	<link rel="icon" sizes="70x70" type="image/webp" href="{{ asset('images/swordphish 70x70.jpg') }}">
{% endblock %}

{% block body %}
	<form method="post" class="container mt-4">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
        {% for success in app.flashes('success') %}
		<div class="alert alert-success text-center" role="alert">
			{{ success }}
		</div>
	{% endfor %}
		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Connectez vous svp</h1>
		<fielset class="mb-4">
			<label for="inputUsername" class=" form-label required">Username</label>
			<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
		</fielset>
		<fieldset class="mt-4 mb-4">
			<label for="inputPassword" class=" form-label required">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
		</fieldset>

		<input
		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		{#
		        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
		        See https://symfony.com/doc/current/security/remember_me.html
		
		        <div class="checkbox mb-3">
		            <label>
		                <input type="checkbox" name="_remember_me"> Remember me
		            </label>
		        </div>
		    #}

		<button class="btn btn-lg btn-primary" type="submit">
			Sign in
		</button>
	</form>
    <div class="container mt-4">
        <a href="{{ path('app_forgot_pwd') }}">Mot de passe oublié</a>
    </div>
{% endblock %}
