<footer>

	<div>

		<table border="0" cellpadding="0" width="0" style="width:642.0pt; mso-cellspacing:1.5pt;mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt">
			<tbody>
				<tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:18.75pt">
					<td width="260" valign="top" style="width:239.25pt;padding:.75pt .75pt .75pt .75pt; height:18.75pt">
						<p>
							<strong>
								<span style="font-size:9.0pt;font-family:&quot;Open Sans&quot;,serif; color:#005B9A">
									~~
								</span>
							</strong>
							<b>
								<span style="font-size:9.0pt;font-family:&quot;Open Sans&quot;,serif;color:#005B9A">
									<br>
								</span>
							</b>
							<span style="font-size:9.0pt;font-family:&quot;Open Sans&quot;,serif; color:black">
								""
								<br>
								<br>
							</span>
							<span style="font-size:10.0pt;font-family:&quot;Open Sans&quot;,serif">
								<a href="p:">
									<span style="font-size:9.0pt; color:black;text-decoration:none;text-underline:none">
										p:
									</span>
								</a>
								<br>
								<a href="t:">
									<span style="font-size:9.0pt; color:black;text-decoration:none;text-underline:none">
										t:
									</span>
								</a>
								<br
								style="mso-special-character:line-break">
								<!--[if !supportLineBreakNewLine]-->
								<a href="mailto: m:" ?="">
									<span style="color:black; text-decoration:none;text-underline:none">
										m:
									</span>
								</a>
								<br
								style="mso-special-character:line-break">
								<!--[endif]-->
								<o:p></o:p>
							</span>
						</p>
					</td>
					<td width="168" valign="top" style="width:116.25pt;padding:.75pt .75pt .75pt .75pt; height:18.75pt;">
						<p>
							<a href="https://www.impro-solutions.fr/">
								<span style="font-size:10.0pt; font-family:&quot;Arial&quot;,sans-serif;mso-no-proof:yes;text-decoration:none; text-underline:none">
								<img
									border="0" width="155" height="86" src="{{ email.image('@images/image002.png') }}">
								</span>
							</a>
						</p>
					</td>
				</tr>
				<tr style="mso-yfti-irow:1;height:12.75pt">
					<td colspan="2" style="background:#E2003B;padding:.75pt .75pt .75pt .75pt; height:12.75pt">
						<p>
							<strong>
								<span style="font-size:10.0pt;font-family:&quot;Raleway&quot;,serif; mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri; color:white;mso-fareast-language:FR">
									Impro Solutions. Un problème, des solutions.
								</span>
							</strong>
							
						</p>
					</td>
				</tr>
				<tr style="mso-yfti-irow:2;mso-yfti-lastrow:yes;height:18.75pt">
					<td style="padding:.75pt .75pt .75pt .75pt;height:18.75pt">
						<p>
							<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif; mso-no-proof:yes; text-decoration:none;text-underline:none">
								&nbsp;&nbsp;
							</span>
							<a href="https://www.facebook.com/improsolutions">
								<span style="font-size:10.0pt;">

								<img
									border="0" width="25" height="25" src="{{ email.image('@images/image004.png') }}">
								</span>
							</a>
							<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">
								&nbsp;
							</span>
							<a href="https://www.linkedin.com/company/improsolutions/">
								<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif; mso-no-proof:yes; text-decoration:none;text-underline:none">
								<img
									border="0" width="25" height="25" src="{{ email.image('@images/image006.png') }}">
								</span>
							</a>
							<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">
								&nbsp;
							</span>
							<a href="https://twitter.com/impro_numerique">
								<span style="font-size:10.0pt; font-family:&quot;Arial&quot;,sans-serif;mso-no-proof:yes;text-decoration:none; text-underline:none">
									
								<img
									border="0" width="25" height="25" src="{{ email.image('@images/image008.png') }}">
								</span>
							</a>
							<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">
								&nbsp;
							</span>
							<a href="https://www.impro-solutions.fr/">
								<span style="font-size:10.0pt; font-family:&quot;Arial&quot;,sans-serif;mso-no-proof:yes;text-decoration:none; text-underline:none">
									
								<img
									border="0" width="25" height="25" src="{{ email.image('@images/image010.png') }}">
								</span>
							</a>
							<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">
								<o:p></o:p>
							</span>
						</p>
					</td>
					<td valign="top" style="padding:.75pt .75pt .75pt .75pt;height:18.75pt">
						<p align="right" style="text-align:right">
							<span lang="EN-US" style="font-size: 9.0pt;font-family:&quot;Open Sans&quot;,serif;color:black;mso-ansi-language:EN-US">
								35
								Rue Bobby Sands
								<br>
								44800 SAINT-HERBLAIN
								<span class="SpellE">
									Cedex
								</span>
							</span>
						</p>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</footer>
