{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}

{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
	<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js" defer></script>
	<script src="{{ asset('js/chart.js') }}" defer></script>
	<script src="{{ asset('js/counter.js') }}" defer></script>
{% endblock %}

{% block main %}

	{% if test_envoi is defined and test_envoi %}
		<h2>Vous allez effectuer un test d'envoi d'emails pour la campagne
			{{ campagne.name }}</h2>
		<form name="form_email_address" method="POST" class="card-body">
			<fieldset class="mb-4">
				<label for="email_address" class=" form-label required">
					Saisir les adresses emails pour l'envoi de test en les séparant par une virgule ","
				</label>
				<input type="email" id="email_address" name="email_address" multiple required class="form-control required"/>
			</fieldset>

			<fieldset class="mb-4 text-center">
				<button type="submit" name="submit" class="btn btn-success btn-lg" onclick="return(confirm('Etes-vous sûr de vouloir envoyer les emails de test ?'));">
					Envoyer
				</button>
			</fieldset>
		</form>

	{% elseif stat is defined and stat %}
		<h2 class="text-center">Statistiques de la campagne" {{ campaign.name }}" du {{ campaign.date|format_datetime('short', 'none') }}</h2>

		<div class="row">
			<canvas class="col-3 mt-5" id="clicks_stat" width="400" height="150"></canvas>
			<canvas class="col-3 mt-5" id="submits_stat" width="400" height="150"></canvas>
		</div>

		<script>
			let data_clicks = {{ data_clicks|raw }};
			let data_submits = {{ data_submits|raw }};
		</script>

	{% elseif campagne.isSent is defined and not campagne.isInfoSent %}

		<h2 class="text-center">Vous avez lancé la campagne "{{ campagne.name }}"</h2>
		<div class="h5 mt-4" id="first" data-gif-path="{{ asset('images/loading.gif') }}"></div>
		<div class="h5 mt-4" id="after">
			<section class="mb-4">
				<p class="h4 alert alert-success text-center">Vous avez envoyé
					{{ campagne.destinataires|length }}
					emails
				</p>
			</section>
			<section class="pt-4">
				<p>Pour suivre les stats cliquer sur le bouton
					<a class=" action-statistic btn btn-primary btn-block w-30" href="{{ ea_url().setRoute('admin_stat', { uid: campagne.id }) }}" data-action-name="statistic">
						<i class="action-icon fas fa-chart-line"></i>
						Stat campagne</a>
					dans la liste des campagnes créées.
				</p>
				<p>Pour finaliser la campagne, envoyer les emails d'informations auprès des destinataires qui ont réagi en cliquant sur le bouton
					<a class=" action-sendInfo btn btn-warning btn-block w-30" href="{{ ea_url().setRoute('admin_email_infos', { uid: campagne.id }) }}" onclick="return(confirm('Etes-vous sûr de vouloir envoyer les emails ?'));" data-action-name="sendInfo">
						<i class="action-icon fas fa-mail-bulk"></i>
						Envoi Infos</a>
					dans la liste des campagnes créées.
				</p>
			</section>
		</div>
		<script type="text/javascript">
			let index = {{ index }};
			let index_max = {{ index_max }};
			let counter = {{ counter }};
		</script>


	{% elseif campagne.isInfoSent is defined and campagne.isInfoSent %}
		<h2 class="text-center">Campagne "{{ campagne.name }}"</h2>
		<div class="h5 mt-4">
			<p>Vous avez envoyé
				{{ results|length }}
				emails d'informations aux destinataires qui ont réagi à la campagne.</p>
			<p>Vous pouvez maintenant désactiver la campagne pour terminer cette opération en cliquant sur bouton
				<a class=" action-disenable btn bg-dark text-white" href="{{ ea_url().setRoute('admin_campaign_toggle', { uid: campagne.id }) }}" data-action-name="disenable">
					<i class="action-icon fa fa-times-circle-o"></i>
					Désactiver</a>
				dans la liste des campagnes créées.
			</p>
		</div>

	{% else %}
		<h2 class="text-center">Bienvenue sur le tableau de bord de SwordPhish</h2>
		<section class="mt-4">
			<h4>Pour commencer une nouvelle campagne :</h4>
			<p class="">Pré-requis : avoir une liste de destinataires définie</p>
			<ol class="h5 mb-4">
				<li class="mb-4">Cliquer sur le menu <i class="fas fa-paper-plane"> Les campagnes</i></li>
				<li class="mb-4">Cliquer sur le bouton  <button class="btn btn-primary"> Créer une campagne</button></li>
				<li class="mb-2">Remplir les champs obligatoires du formulaire contenant une <span class="text-danger">*</span> et cliquer sur le bouton <button class="btn btn-primary"> Créer</button></li>
				<p class="alert alert-danger mb-4">Attention! Tous les destinataires sont sélectionnés par défaut.</p>
				<li>Cliquer sur le bouton  <button class="btn btn-danger"> <i class="fas fa-mail-bulk"> Envoi Campagne</i></button></li>
				<p>Un message d'alerte va vous demander de confirmer l'envoi.</p>
			</ol>
			<h4 class="mb-4">Après le lancement de la campagne :</h4>
			<ol class="h5">
				<li class="mb-4">Cliquer sur le bouton  <button class="btn btn-primary"> <i class="fas fa-chart-line"> Stat Campagne</i></button> pour visualiser les statistiques</li>
				<li>Cliquer sur le bouton  <button class="btn btn-warning"> <i class="fas fa-mail-bulk"> Envoi Infos</i></button> pour envoyer les informations de sensibilisation</li>
				<p>Un message d'alerte va vous demander de confirmer l'envoi.</p>
				<li>Cliquer sur le bouton  <button class="btn bg-dark text-white"> <i class="fa fa-times-circle-o"> Désactiver</i></button> pour désactiver la campagne</li>
			</ol>
		</section>
		<section class="mt-4">
			<h4>Tutoriels</h4>
			<a href="{{ asset('file/SwordPhish - Tutoriel.pdf') }}" target="_blank" class="font-weight-bold" style="font-size: 1rem;">Afficher le fichier PDF dans une autre page du navigateur</a>
		</section>

	{% endif %}


{% endblock %}
